html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    margin: 0;
}

img{
    height: 25px;
    cursor: pointer;
    
}
.head{
    width: fit-content;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    height: 60px;
    position: fixed;
    top: 0;
    box-shadow:5px 8px 5px rgb(248, 243, 243);
    border-bottom: 1px solid  rgb(248, 243, 243);

} 
 .left-section{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
    width: fit-content;
    
 }
 .logo{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    height: 37px

    
    
 }
 .logo:hover{
    color: red;
 }
 .menu{
    padding-bottom: 15px;
    height: 37px;
 }
 .middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    padding-bottom: 10px;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    max-width: 600px;
    
 }
 .search-bar{
    height: 40px;
    flex: 1;
    border-radius: 50px 0 0 50px;
    padding-left:20px ;
    font-size: 17px;
    max-width: 600px;
    margin-left: 0;
padding-right: 10px;
    
 }
 .search{
    height: 37px;
    border: 2px black solid;
    border-left: none;
    border-radius:0 50px 50px 0 ;
    
 }
 .mike-icon img{
    height: 37px;
    border-radius: 50%;
    gap: 20px;
    
 }
 .right-section{

    gap: 20px;
    display: flex;
    align-items: center;
    padding-right: 10px;

}
.right-section img{
    height: 37px;
    border-radius: 50%;
}
img:hover{
    transform: scale(1.2);
}



.nav-link{
    top: 60px;
    flex-direction: column;
    width: 15%;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    background-color:  white;
    box-shadow: 5px 4px 3px  rgb(248, 243, 243);
    position: fixed;
    overflow: auto;
}
.sid-bar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    padding-left: 10px;
    border-radius: 20px;
    width: 90%;
    font-size: 18px;
    box-sizing: border-box;
    
}
.sid-bar img{
    height: 37px;

}
.sid-bar:hover{
    background-color: aliceblue;
    transform: translateX(1px);
    color: red;
}
hr{
    height: 90px;
    border-left: none;

}
aside{
    background-color: rgba(255, 255, 255, 0.801);
}
.youtube-kid{
    width: 90%;
    display: flex;
    height: 140px;
    top: 30px;
    gap: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(248, 243, 243, 0.918);
    align-items: center;
    
    
}
.youtube-kid img{
    height: 37px;
}
.youtube-kid :hover{
    background-color: aliceblue;
    color: red;
    transform: translatex(2px);
}







.video-gride{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    padding-left: 17%;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    

}
.video-card{
    display: flex;
    flex-direction:column;
    
    top: 70px;
    padding-left: 20px;
    height: 300px;
    width: 300px;
    gap: 30px;
    
    
}
.tuminel-img iframe{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    text-decoration: none;
    object-fit: cover;
    background-color: black;

}
.bottum-part{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.left-part img{
    border-radius: 50%;

}
.right-part{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.view-icon{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px;

}
@media (max-width: 1000px) {
  .video-gride {
    /* ከ 3 ቪዲዮ ወደ 2 ቪዲዮ ቀንስ */
    grid-template-columns: repeat(2, 1fr); 
    padding-left: 100px; 
  }
}


@media (max-width: 600px) {
  .nav-link {
    display: none; 
  }

  .video-gride {
    
    grid-template-columns: 1fr; 
    padding-left: 20px; 
    padding-right: 20px;
  }

  .middle-section {
    display: none;
  }
}
